
    
    <ion-view view-title="Home">

      <ion-header-bar class='bar bar-subheader'  >
        <h2 class="title">Sub Header</h2>
      </ion-header-bar>

      <ion-header-bar class='bar bar-subheader'  >
        <h2 class="title">Sub Header 222</h2>
      </ion-header-bar>
        
      <ion-content class="padding-top home-page has-subheader" position-bars-and-content>
        
        <a class="button icon icon-left button-assertive" ng-click="generateInbox()">Inbox</a>

        <div class="list">
            <div ng-repeat="acc_type in acc_types">
             
               <div class="item item-divider item-icon-left bar-{{acc_type}}">
                <i class="icon ion-social-{{acc_type}}"></i>
                <span class="">{{acc_type}}</span>
               </div>
               <div class="item item-icon-right home-page-profile" ng-repeat="profile in groups[acc_type].profiles" ng-click="openFeeds(profile)">
                <img src="{{profile.picture}}">
                {{profile.getUserName()}}
                <i class="icon ion-chatbubble-working"></i>
                </div>

            </div>
        </div>
          
      </ion-content>
    </ion-view>
